/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/_typography.scss */
body {
  color: #223;
  font-size: 12pt;
}

@media screen and (max-width: 568px) {
  /* line 7, ../../sass/_typography.scss */
  body {
    font-size: 10pt;
  }
}
/* line 14, ../../sass/_typography.scss */
hgroup.logotype {
  font-family: 'Raleway';
  text-align: right;
}
/* line 17, ../../sass/_typography.scss */
hgroup.logotype h1 {
  color: #44a5cb;
  font-size: 4.5em;
}
/* line 21, ../../sass/_typography.scss */
hgroup.logotype h2 {
  color: #999;
  font-size: 2.6em;
}

/* line 27, ../../sass/_typography.scss */
article {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ","ＭＳ Ｐゴシック",Verdana,Geneva,Arial,Helvetica;
}

/* line 32, ../../sass/_typography.scss */
nav ul {
  font-family: 'Archivo Narrow';
  font-size: 2.4em;
  color: #eee;
}

/* line 40, ../../sass/_typography.scss */
strong {
  font-size: 1.1em;
  font-weight: bold;
}

/* line 45, ../../sass/_typography.scss */
article > h1 {
  font-size: 2.2em;
  color: #44a5cb;
}

/* line 50, ../../sass/_typography.scss */
article > h1:before {
  content: '@';
  margin-left: -0.92em;
  font-size: 5em;
  color: #eee;
  vertical-align: -0.25em;
}

/* line 58, ../../sass/_typography.scss */
h2 {
  font-size: 1.5em;
  font-weight: bold;
}

/* line 63, ../../sass/_typography.scss */
article > h2:before {
  content: '-';
  margin-left: -0.5em;
  font-size: 3em;
  color: #ededed;
  vertical-align: -0.2em;
}

/* line 71, ../../sass/_typography.scss */
a {
  color: #ededed;
}

/* line 1, ../../sass/_logotype.scss */
div.bracket:before {
  content: '[';
  margin-right: 0.2em;
  font-family: 'Raleway';
  font-size: 12em;
  color: #eee;
}

/* line 9, ../../sass/_logotype.scss */
div.bracket:after {
  content: ']';
  margin-left: 0.2em;
  font-family: 'Raleway';
  font-size: 12em;
  color: #eee;
}

/* line 17, ../../sass/_logotype.scss */
div.bracket {
  vertical-align: middle;
}

/* line 21, ../../sass/_logotype.scss */
header > div.bracket {
  padding: 30px 0;
}

/* line 26, ../../sass/_logotype.scss */
hgroup.logotype {
  display: inline-block;
}

/* line 30, ../../sass/_logotype.scss */
body > div > header {
  font-size: 4pt;
}

/*
  :after {
    content: ']'
  }
}

*/
@media screen and (max-width: 568px) {
  /* line 42, ../../sass/_logotype.scss */
  div.bracket {
    font-size: 2.8pt;
  }
}
/* line 1, ../../sass/_base.scss */
body {
  background-color: #003e59;
}

/* line 5, ../../sass/_base.scss */
body > div {
  background-color: #f8f8f8;
}

/* line 14, ../../sass/_base.scss */
p {
  margin: 0.5em 0 2.4em 0;
  line-height: 1.75em;
}

/* line 1, ../../sass/_layout.scss */
body > div {
  width: 100%;
}

/* line 5, ../../sass/_layout.scss */
article, header {
  margin: 0 auto;
  width: 1120px;
}

/* line 11, ../../sass/_layout.scss */
header {
  text-align: right;
}

/* line 14, ../../sass/_layout.scss */
article > div.bracket {
  padding: 120px 0;
  text-align: center;
}

@media screen and (max-width: 568px) {
  /* line 20, ../../sass/_layout.scss */
  header {
    width: 100%;
  }

  /* line 24, ../../sass/_layout.scss */
  article {
    width: 90%;
  }
  /* line 26, ../../sass/_layout.scss */
  article > div.bracket {
    padding: 50px 0;
  }

  /* line 30, ../../sass/_layout.scss */
  header {
    text-align: center;
  }
}
/* line 36, ../../sass/_layout.scss */
footer > nav {
  text-align: center;
}
/* line 38, ../../sass/_layout.scss */
footer > nav ul {
  display: block;
  margin: 50px;
}
/* line 41, ../../sass/_layout.scss */
footer > nav ul li {
  display: inline-block;
  margin: 15px;
}

@media screen and (max-width: 568px) {
  /* line 49, ../../sass/_layout.scss */
  footer > nav {
    text-align: left;
  }
  /* line 51, ../../sass/_layout.scss */
  footer > nav ul {
    display: block;
  }
  /* line 53, ../../sass/_layout.scss */
  footer > nav ul li {
    width: 100%;
  }
}
/* line 1, ../../sass/_footer.scss */
div.style.line {
  display: block;
  width: 100%;
  background-color: #44a5cb;
}

/* line 7, ../../sass/_footer.scss */
div.style.line.dark {
  background-color: #003e59;
}

/* line 11, ../../sass/_footer.scss */
div.x1 {
  height: 2px;
}

/* line 15, ../../sass/_footer.scss */
div.x2 {
  height: 4px;
}

/* line 19, ../../sass/_footer.scss */
div.x4 {
  height: 8px;
}
